.gallery {
  flex-basis: 24%;
  width: 80%;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  column-width: 25%;
  -webkit-column-width: 25%;
  -moz-column-width: 25%;
  padding: 0 12px;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 10px;
}

.gallery .pics:hover {
  filter: opacity(0.8);
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 998;
}

.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal img {
  width: auto;
  max-width: 90%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: auto;
}

.close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.prev-button {
  left: 20px;
}
.next-button {
  right: 20px;
}

img,
.disable-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 6vh;
  min-height: 3rem;
}

.title h2 {
  font-family: "Cinzel";
  font-weight: 400;
  font-size: 2rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  height: 100px;
}

.back-btn {
  position: relative;
  bottom: 0;
  text-decoration: none;
  color: black;
}

.button-container button {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button-container button:hover {
  opacity: 0.7;
}

@media (max-width: 1500px) {
  .title {
    min-height: 2rem;
  }
  .title h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    width: 90%;
  }
  .title h2 {
    font-size: 1.2rem;
  }
  .prev-button {
    left: 0px;
  }
  .next-button {
    right: 0px;
  }
}
