.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  min-height: 500px;
  height: 78vh;
  background-color: rgb(247, 247, 247);
}

.contact-form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/kontakt.jpg");
}

@supports (background-image: url("../assets/webpimages/kontakt.webp")) {
  .contact-image {
    background-image: url("../assets/webpimages/kontakt.webp");
  }
}

@media (max-width: 1200px) {
  .contact-container {
    flex-direction: column;
    width: 90%;
    height: auto;
  }
  .contact-image {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .contact-form {
    width: 90%;
    height: auto;
  }
}
