.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 78vh;
}

.contact-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 78vh;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/kontakt.jpg");
}

@supports (background-image: url("../assets/webpimages/kontakt.webp")) {
  .contact-image {
    background-image: url("../assets/webpimages/kontakt.webp");
  }
}

.contact-image a {
  font-family: "Cinzel", serif;
  font-display: swap;
  font-size: 1.5rem;
  line-height: 0rem;
  margin-bottom: 20px;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.contact-image a:hover {
  color: #dadada;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0, 100%);
}

@media (max-width: 800px) {
  .contact-image a {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .contact-container {
    width: 100%;
  }
  .contact-image {
    width: 90%;
  }
  .contact-image a {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
}

@media (min-aspect-ratio: 2/1) {
  .info {
    transform: translate(0, 0);
  }
}
