.spinner-container {
  height: 78vh;
  z-index: 999;
}
.spinner {
  position: absolute;
  top: 50%;
  margin-top: -2rem;
  margin-left: -2rem;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #ffffff;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1s linear infinite;
  z-index: 500;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
